body {
    background: rgb(225, 145, 232);
    position: relative;
    min-height: 140vh;
    width: 100vw;
}

#bg {
    height: 100%;
    width: 100vw;
    position: fixed !important;
}



@media only screen and (max-width: 991px) {
    .navbar-collapse {
        border-radius: 0 !important;
    }

    .karta {
        position:relative !important ;
        left: 0 !important;
    }

    .navbar-brand {
        margin-right: 27% !important;
    }
}